body {
    background-image: linear-gradient(#6ad7e0, white);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.ground {
    height: 380px;
    width: 200%;
    background-image: linear-gradient(#e0ad71, #eed3b1);
    display: block;
    position: absolute;
    bottom: 0;
    top: 50%;
    left: 0;
    z-index: 1;
}

.sun {
    height: 200px;
    width: 200px;
    background-image: linear-gradient(#e4e99e, #dde479);
    display: flex;
    justify-content: center;
    margin-left: 70%;
    margin-right: auto;
    margin-top: 30%;
    border-radius: 50%;
    position: fixed;
}

.clouds {
    height: 500px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: center;
    position: fixed;
}

.cactus {
    height: 300px;
    width: auto;
    margin-left: 60%;
    margin-right: auto;
    margin-top: 450px;
    display: block;
    position: fixed;
    z-index: 2;
}

.sign {
    height: 300px;
    width: auto;
    margin-left: 20%;
    margin-right: auto;
    margin-top: 480px;
    display: block;
    position: fixed;
    z-index: 3;
}
