body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
    
    background-size: cover;
    z-index: 0;
}

p {
    background-color: #b70000;
    color: white;
    border: 3px solid #096e09;
    border-radius: 5px;

    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 1px;
    margin-bottom: 1em;
}

table {
    font-size: 13px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    border: 3px solid #096e09;
    border-radius: 5px;
    background-color: white;

    display: flexbox;
    justify-content: space-evenly;
    text-align: center;
}

td:nth-child(1) {
    text-align: left;
    font-weight: bold;
}

td:nth-child(2) {
    background-color: #096e09;
    color: white;
    font-weight: bold;
}

tbody tr:nth-child(1) {
    background-color: #fff125;
}

tbody tr:nth-child(1) td:nth-child(2) {
    color: #fff125;
}

thead {
    background-color: #b70000;
    color: white;

    display: flexbox;
    justify-content: space-evenly;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
}

.icon {
    width: 30px;
    height: 30px;
    justify-content: center;
    display: block;
    padding-right: 1em;
}

.tumble-animation {
    position: relative;
    height: 100px;
    width: auto;
    overflow: hidden;
}

.clouds-animation {
    position: absolute;
    height: 300px;
    width: auto;
    overflow: hidden;
}
/*
.gif {
    width: 100%;
    height: auto;
}
*/
.button {
    background-color: white;
    color: #b70000;
    font-size: 10px;
    font-weight: bold;
    padding: 0.5em 0.5em;
    border: 3px solid #096e09;
    border-radius: 5px;
    margin-left: 0px;
    margin-left: 0px;
    margin-top: 1em;
    width: auto;
}

.music {
    background-color: white;
    color: #b70000;
    font-size: 8px;
    font-weight: bold;
    padding: 0.3em 0.3em;
    border: 3px solid #096e09;
    border-radius: 5px;
    margin: 0.3em 0.3em;
    margin-left: 0px;
    margin-top: 1em;
    width: auto;
}

#buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#clouds {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#music-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 3px;
    padding-top: 8px;
    z-index: 1;
}

#refresh-btn {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 3px;
    padding-top: 8px;
    z-index: 1;
}

#refresh
{
    transform:translateY(-14px);
}

#bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}
/*
#player {
    display: none;
}
*/
/* Animation of a tumbleweed tumbling across the bottom of the screeen */
@keyframes tumble {
    0% {
        transform: translateX(-150px) translateY(0px) rotate(0);
    }

    10% {
        transform: translateX(-50px) translateY(-20px) rotate(150deg);
    }

    20% {
        transform: translateX(50px) translateY(0px) rotate(300deg);
    }

    30% {
        transform: translateX(150px) translateY(-15px) rotate(450deg);
    }

    40% {
        transform: translateX(250px) translateY(0px) rotate(600deg);
    }

    50% {
        transform: translateX(350px) translateY(-10px) rotate(750deg);
    }

    60% {
        transform: translateX(450px) translateY(0px) rotate(900deg);
    }

    70% {
        transform: translateX(550px) translateY(-6px) rotate(1050deg);
    }

    80% {
        transform: translateX(650px) translateY(0px) rotate(1200deg);
    }

    90% {
        transform: translateX(750px) translateY(-3px) rotate(1350deg);
    }

    100% {
        transform: translateX(850px) translateY(0px) rotate(1500deg);
    }
}

.tumble {
    animation-name: tumble;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    overflow: hidden;
}

/* Animation of clouds flowing across the top of the screen */
@keyframes clouds-flow {
    0% {
        transform: translateX(-320px) translateY(100px);
    }

    100% {
        transform: translateX(480px) translateY(0px);
    }
}

@keyframes clouds-flow-2 {
    0% {
        transform: translateX(-320px) translateY(20px);
    }

    100% {
        transform: translateX(540px) translateY(-80px);
    }
}

.clouds-flow {
    animation-name: clouds-flow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.clouds-flow-2  {
    animation-name: clouds-flow-2;
    animation-delay: 5s;
    animation-fill-mode: backwards;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@media only screen and (max-width: 768px) {
    body {
        background-position: top left;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-position: bottom center;
    }
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #e5e9ec;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
  
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

  .dropbtn {
    z-index: 1;
}
  
html, body {
height: 100%;
width: 100%;
overflow: hidden;
}